Dear {{ user.username }},


We received a request to reset the password for your account with this email address. To complete the password reset process for your account, click the link below.


http://{{ domain }}{% url 'forgot_password_confirm' uidb64=uid token=token %}


This link can only be used once. If you need to reset your password again, please visit http://{{domain}}/account/login and request another password reset.


This message was sent to {{user.email}} because you have registered with us.
If you did not make this request, contact us as soon as possible to take necessary measures to secure your account.


Best Regards,
Affyn's Admin
{{date}}
